body{
    background-color: rgb(15, 194, 125);
}

.div-home{
    width: 1250px;
    height: 1000px;
    background-color: rgb(15, 194, 125);
}

.div-body{
    width: 550px;
    height: 650px;
    position: relative;
    top: 100px;
    right: 325px;
    border-radius: 8px;
    background-color: rgb(15, 194, 125);
}

.div-title{
    text-align: center;
    width: 120px;
    height: 25px;
    background-color: rgb(7, 67, 145);
    position: relative;
    top: 20px;
    right: 20px;
    border-radius: 4px;
}

.div-title:hover{
    background-color: rgb(52, 127, 225);
}

.div-contorol{
    width: 300px;
    height: 500px;
    background-color: rgb(15, 194, 125);
    padding: 20px 20px;
    margin: 30px 100px ;
}

/* nuser */
.div-nuser{
    width: 270px;
    height: 50px;
    padding-top: 20px;
    padding-right: 10px;
    background-color: rgb(15, 194, 125);
}

.input-nuser{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid white;
    width: 200px;
    height: 18px;
}
/* nuser */

/* email */
.div-email{
    width: 270px;
    height: 50px;
    padding-top: 20px;
    padding-right: 10px;
    background-color: rgb(15, 194, 125);
}

.input-email{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid white;
    width: 200px;
    height: 18px;
}
/* email */

/* fname */
.div-fname{
    width: 270px;
    height: 50px;
    padding-top: 20px;
    padding-right: 10px;
    background-color: rgb(15, 194, 125);
}

.input-fname{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid white;
    width: 200px;
    height: 18px;
}
/* fname */

/* lname */
.div-lname{
    width: 270px;
    height: 50px;
    padding-top: 20px;
    padding-right: 10px;
    background-color: rgb(15, 194, 125);
}

.input-lname{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid white;
    width: 200px;
    height: 18px;
}
/* lname */

/* wb */
.div-wb{
    width: 270px;
    height: 50px;
    padding-top: 20px;
    padding-right: 10px;
    background-color: rgb(15, 194, 125);
}

.input-wb{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid white;
    width: 200px;
    height: 18px;
}
/* wb */

/* password */
.div-password{
    width: 270px;
    height: 50px;
    padding-top: 20px;
    padding-right: 10px;
    background-color: rgb(15, 194, 125);
}

.input-password{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid white;
    width: 200px;
    height: 18px;
}
/* password */

/* naghsh */
.div-naghsh{
    width: 270px;
    height: 50px;
    padding-top: 20px;
    padding-right: 10px;
    background-color: rgb(15, 194, 125);
}

.sel-naghsh{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid white;
    width: 205px;
    height: 24px;
}
/* naghsh */

/* submit */
.submit-1{
    color: white;
    font-size: large;
    border-radius: 6px;
    background-color: rgb(85, 182, 145);
    border: 1px solid rgb(85, 182, 145);
    position: relative;
    top: 10px;
    right: 80px;

}

.submit-1:hover{
    background-color: rgb(19, 123, 117);
}
/* submit */

/* edit */

label{
    color: white;
    font-size: large;
    position: relative;
    bottom: 8px;
}

p{
    color: white;
    font-size: large;
    position: relative;
    top: 3px;
}