*{
    box-sizing: border-box;
}


.div-body{
    width: 1270px;
    height: 1000px;
    background-color: rgb(15, 194, 125);

}

.div-hom{
    border-radius: 10px;
    width: 600px;
    height: 600px;
    background-color: rgb(15, 194, 125);
    margin: 10px;
    position: relative;
    top: 200px;
    right: 100px;
}

.div-1{
    width: 400px;
    height: 75px;
    background-color: rgb(15, 194, 125);
}

.div-img{
width: 200px;
height: 30px;
background-color: rgb(15, 194, 125);
display: inline-block;
position: relative;
bottom: 25px;
}

.span-image{
    position: relative;
    top: 6px;
    right: 10px;
    color: white;
    text-align: center;
    font-size: large;
    background-color: rgb(85, 182, 145);
    padding: 6px;
    border-radius: 5px;
}

.span-image:hover{
    background-color: rgb(19, 123, 117);
}

.img-poro{
    width: 60px;
    height: 60px;
    display: inline-block;
}

.a-poro{
    display: inline-block;
}

.div-2{
    width: 550px;
    height: 500px;
    background-color: rgb(15, 194, 125);
    /* border:  1px solid black; */
    padding: 7px;
}

label{
    font-size: large;
    color: white;
    font: large;
    position: relative;
    bottom: 2px;

}

input{
    border: 1px solid rgb(255, 255, 255) ;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    margin: 8px 2px 8px 2px;
    height: 24px;
}


.div-fname{
    display: inline-block;
}

.div-lname{
    display: inline-block;
    margin-right: 60px;
}

.div-phone{
    display: inline-block;
}

.sel-1{
    display: inline-block;
    width: 177px;
    height: 24px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    margin: 8px 2px 8px 2px;
    border: 1px solid rgb(255, 255, 255) ;
}

.div-gender{
    display: inline-block;
    margin-right: 60px;
}

.textar-1{
    width: 500px;
    height: 200px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.sub-1{
    color: white;
    font-size: large;
    background-color: rgb(85, 182, 145);
    border: 1px solid rgb(85, 182, 145);
}

.sub-1:hover{
    background-color: rgb(19, 123, 117);
}






