.div-home{
    width: 1500px;
    height: 895px;
    background-color: rgb(158, 158, 158);
}

.div-body{
    width: 700px;
    height: 700px;
    background-color: rgb(191, 188, 188);
    position: relative;
    top: 90px;
    right: 250px;
    border-radius: 8px;
}

.div-head{
    width: 700px;
    height: 80px;
    /* border: 1px solid white; */
    background-color: rgb(42, 56, 135);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.title{
    width: 150px;
    height: 40px;
    /* border: 1px solid white; */
    background-color: cornflowerblue;
    position: relative;
    top: 18px;
    right: 50px;
    border-radius: 5px;
}

.p-title{
    color: white;
    font-size: large;
    position: relative;
    top: 10px;
    right: 25px;
}

.div-icon{
    width: 20px;
    height: 15px;
    /* border: 1px solid white; */
    background-color: cornflowerblue;
    position: relative;
    bottom: 24px;
    right: 650px;
    border-radius: 5px;
}

.p-icon{
    color: white;
    font-size: large;
    position: relative;
    bottom: 4px;
    right: 7px;
}

/* main-1 */
.div-main-1{
    width: 700px;
    height: 80px;
    /* border: 1px solid white; */
}

.label-main-1{
    font-size: large;
    color: white;
    position: relative;
    top: 25px;
    right: 15px;
}

.input-nopm{
    position: relative;
    top: 25px;
    right: 30px;
    height: 25px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid white;
}
/* main-1 */

.div-main-2{
    width: 700px;
    height: 80px;
    /* border: 1px solid white; */
}

.label-main-2{
    font-size: large;
    color: white;
    position: relative;
    bottom: 160px;
    right: 15px;
}

.textarea-1{
    position: relative;
    top: 25px;
    right: 30px;
    height: 200px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid white;
}

.button-reset{
    font-size: large;
    color: white;
    background-color: steelblue;
    width: 90px;
    height: 30px;
    border: 1px solid steelblue;
    border-radius: 4px;
    position: relative;
    top: 200px;
    right: 95px;
    display: inline-block;
}

.button-reset:hover{
    background-color: rgba(70, 130, 180, 0.6);
    border: rgba(70, 130, 180, 0.6);
}

.submit{
    font-size: large;
    color: white;
    background-color: steelblue;
    width: 90px;
    height: 30px;
    border: 1px solid steelblue;
    border-radius: 4px;
    position: relative;
    top: 200px;
    right: 95px;
    display: inline-block;
}

.submit:hover{
    background-color: rgba(70, 130, 180, 0.6);
    border: rgba(70, 130, 180, 0.6);
}