<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/layout/add-product.css">
    <title>اضافه کردن محصولات</title>
</head>
<body dir="rtl">

    <div class="div-home">

        <div class="div-body">

            <div class="div-head">

                <label class="lb-1">اضافه کردن محصولات</label>

                <button type="submit" class="btn b1" >ورود به حساب</button>

            </div>

            <hr>

            <div class="div-contnt">

                <form action="" class="">

                    <label class="lb-2">نام محصول :</label>
                    <br>
                    <input type="text" class="in-1">
                    <br>
                    <br>
                    <label class="lb-2">نوعه محصول :</label>
                    <br>
                    <input type="text" class="in-1">
                    <br>
                    <br>
                    <label class="lb-2">رنگ محصول :</label>
                    <br>
                    <input type="text" class="in-1">
                    <br>
                    <br>
                    <label class="lb-2">ضمانت محصول :</label>
                    <br>
                    <input type="text" class="in-1">
                    <br>
                    <br>
                    <label class="lb-2">تعداد خرید :</label>
                    <br>
                    <input type="text" class="in-1">
                    <br>
                    <br>
                    <br>
                    <hr>
                    <br>
                    <button type="submit" class="btn b2">ثبت</button>
                    <button type="reset" class="btn b3">انصراف</button>
                </form>

            </div>

        </div>

    </div>

</body>
</html>