<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://kit.fontawesome.com/2047e49cde.js" crossorigin="anonymous"></script>
    <title>کاتالوگ محصولات </title>
</head>

<body dir="rtl">
    
    <div class="box-4">

        <div class="title-box2" >

            <h1>کاتالوگ محصولات</h1>

        </div>

        <form method="post" action="">

        <div class="cart-box">

<div class="cart-article">

                    <div class="cart-article-hed">

                        <img src="/img/gold1.jpg" class="img-article">

                    </div>

                    <div class="cart-article-fot">

                        <p class="cart-midle-p1">دست بند</p>
                        <p class="cart-midle-p2">عالی و قیمت مناسب</p>
                        <p class="cart-midle-p3">200 هزار تومن</p>
                        <input type="button" name="" value="مشاهده" class="button-4">

                    </div>

                </div>



<div class="cart-article">

                    <div class="cart-article-hed">

                        <img src="/img/gold1.jpg" class="img-article">

                    </div>

                    <div class="cart-article-fot">

                        <p class="cart-midle-p1">دست بند</p>
                        <p class="cart-midle-p2">عالی و قیمت مناسب</p>
                        <p class="cart-midle-p3">200 هزار تومن</p>
                        <input type="button" name="" value="مشاهده" class="button-4">

                    </div>

                </div>

           <div class="cart-article">

                    <div class="cart-article-hed">

                        <img src="/img/gold1.jpg" class="img-article">

                    </div>

                    <div class="cart-article-fot">

                        <p class="cart-midle-p1">دست بند</p>
                        <p class="cart-midle-p2">عالی و قیمت مناسب</p>
                        <p class="cart-midle-p3">200 هزار تومن</p>
                        <input type="button" name="" value="مشاهده" class="button-4">

                    </div>

                </div>

        </div>  



        <div class="cart-box">

            <div class="cart-article">

                    <div class="cart-article-hed">

                        <img src="/img/gold1.jpg" class="img-article">

                    </div>

                    <div class="cart-article-fot">

                        <p class="cart-midle-p1">دست بند</p>
                        <p class="cart-midle-p2">عالی و قیمت مناسب</p>
                        <p class="cart-midle-p3">200 هزار تومن</p>
                        <input type="button" name="" value="مشاهده" class="button-4">

                    </div>

                </div>

           <div class="cart-article">

                    <div class="cart-article-hed">

                        <img src="/img/gold1.jpg" class="img-article">

                    </div>

                    <div class="cart-article-fot">

                        <p class="cart-midle-p1">دست بند</p>
                        <p class="cart-midle-p2">عالی و قیمت مناسب</p>
                        <p class="cart-midle-p3">200 هزار تومن</p>
                        <input type="button" name="" value="مشاهده" class="button-4">

                    </div>

                </div>

            <div class="cart-article">

                    <div class="cart-article-hed">

                        <img src="/img/gold1.jpg" class="img-article">

                    </div>

                    <div class="cart-article-fot">

                        <p class="cart-midle-p1">دست بند</p>
                        <p class="cart-midle-p2">عالی و قیمت مناسب</p>
                        <p class="cart-midle-p3">200 هزار تومن</p>
                        <input type="button" name="" value="مشاهده" class="button-4">

                    </div>

                </div>

        </div>
        

        <div class="cart-box">

           <div class="cart-article">

                    <div class="cart-article-hed">

                        <img src="/img/gold1.jpg" class="img-article">

                    </div>

                    <div class="cart-article-fot">

                        <p class="cart-midle-p1">دست بند</p>
                        <p class="cart-midle-p2">عالی و قیمت مناسب</p>
                        <p class="cart-midle-p3">200 هزار تومن</p>
                        <input type="button" name="" value="مشاهده" class="button-4">

                    </div>

                </div>

            <div class="cart-article">

                    <div class="cart-article-hed">

                        <img src="/img/gold1.jpg" class="img-article">

                    </div>

                    <div class="cart-article-fot">

                        <p class="cart-midle-p1">دست بند</p>
                        <p class="cart-midle-p2">عالی و قیمت مناسب</p>
                        <p class="cart-midle-p3">200 هزار تومن</p>
                        <input type="button" name="" value="مشاهده" class="button-4">

                    </div>

                </div>

            <div class="cart-article">

                    <div class="cart-article-hed">

                        <img src="/img/gold1.jpg" class="img-article">

                    </div>

                    <div class="cart-article-fot">

                        <p class="cart-midle-p1">دست بند</p>
                        <p class="cart-midle-p2">عالی و قیمت مناسب</p>
                        <p class="cart-midle-p3">200 هزار تومن</p>
                        <input type="button" name="" value="مشاهده" class="button-4">

                    </div>

                </div>

        </div>

        <div class="cart-box">

            <div class="cart-article">

                    <div class="cart-article-hed">

                        <img src="/img/gold1.jpg" class="img-article">

                    </div>

                    <div class="cart-article-fot">

                        <p class="cart-midle-p1">دست بند</p>
                        <p class="cart-midle-p2">عالی و قیمت مناسب</p>
                        <p class="cart-midle-p3">200 هزار تومن</p>
                        <input type="button" name="" value="مشاهده" class="button-4">

                    </div>

                </div>

            <div class="cart-article">

                    <div class="cart-article-hed">

                        <img src="/img/gold1.jpg" class="img-article">

                    </div>

                    <div class="cart-article-fot">

                        <p class="cart-midle-p1">دست بند</p>
                        <p class="cart-midle-p2">عالی و قیمت مناسب</p>
                        <p class="cart-midle-p3">200 هزار تومن</p>
                        <input type="button" name="" value="مشاهده" class="button-4">

                    </div>

                </div>

            <div class="cart-article">

                    <div class="cart-article-hed">

                        <img src="/img/gold1.jpg" class="img-article">

                    </div>

                    <div class="cart-article-fot">

                        <p class="cart-midle-p1">دست بند</p>
                        <p class="cart-midle-p2">عالی و قیمت مناسب</p>
                        <p class="cart-midle-p3">200 هزار تومن</p>
                        <input type="button" name="" value="مشاهده" class="button-4">

                    </div>

                </div>

            </form>

        </div>


    </div>

</body>

</html>