<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/layout/catalog.css" type="text/css">
    <title>Document</title>
</head>
<body>
    
    <div class="gallery">
          <img src="../assets/image/web/img_5terre.jpg"    width="600" height="400">
        <div class="desc">Add a description of the image here</div>
      </div>
      
      <div class="gallery">
          <img src="../assets/image/web/img_forest.jpg"  width="600" height="400">
        <div class="desc">Add a description of the image here</div>
      </div>
      
      <div class="gallery">
          <img src="../assets/image/web/img_lights.jpg"  width="600" height="400">
        <div class="desc">Add a description of the image here</div>
      </div>
      
      <div class="gallery">
          <img src="../assets/image/web/img_mountains.jpg"  width="600" height="400">
        <div class="desc">Add a description of the image here</div>
      </div>

      <div class="gallery">
        <img src="../assets/image/web/27b9d20a-bc85-4175-b144-536c4e42677f.jpg"  width="600" height="400">
      <div class="desc">Add a description of the image here</div>
    </div>

    <div class="gallery">
        <img src="../assets/image/web/beautiful-images-of-nature-22-1.jpg"  width="600" height="400">
      <div class="desc">Add a description of the image here</div>
    </div>

    <div class="gallery">
        <img src="../assets/image/web/طبیعت.jpg"  width="600" height="400">
      <div class="desc">Add a description of the image here</div>
    </div>

    <div class="gallery">
        <img src="../assets/image/web/e31ae378-9eed-401c-a652-23966bf1e3c8.jpg"  width="600" height="400">
      <div class="desc">Add a description of the image here</div>
    </div>

    <div class="gallery">
        <img src="../assets/image/web/طبیعت-فرانسه.format-webp.max-1200x628.webp" width="600" height="400">
      <div class="desc">Add a description of the image here</div>
    </div>

    <div class="gallery">
        <img src="../assets/image/web/طبیعت+اتریش6.jpg"  width="600" height="400">
      <div class="desc">Add a description of the image here</div>
    </div>

    <div class="gallery">
        <img src="../assets/image/web/01.jpg"  width="600" height="400">
      <div class="desc">Add a description of the image here</div>
    </div>

    <div class="gallery">
        <img src="../assets/image/web/finds-15871489012.jpg"  width="600" height="400">
      <div class="desc">Add a description of the image here</div>
    </div>

</body>
</html>