<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://kit.fontawesome.com/2047e49cde.js" crossorigin="anonymous"></script>
    <title>تیکت</title>
</head>

<body dir="rtl">
    
    <div class="box-2">

        <div class="title-box" >

            <h1>تیکت</h1>

        </div>

        <form action="" method="post">

        <div class="input-box" >

            <input type="text" name="subject" placeholder="موضوع پیام">

        </div>

        <div class="textarea-box" >

            <textarea name="textarea"  placeholder="متن پیام"></textarea>

        </div>

        <div class="btn-box" name="">

            <button  name="send-ticket" >ارسال تیکت </button>

        </div>

    </form>

    </div>

</body>

</html>