<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://kit.fontawesome.com/2047e49cde.js" crossorigin="anonymous"></script>
    <title>پنل کاربری</title>
</head>

<body dir="rtl" class="body-1">
    
    <header class="header">

        <div class="div-title-header">

            <P class="p-title">RED LINE</P>

        </div>

        <div class="div-nav">

            <nav class="nav">
                <ul class="ul-nav">
                    <li class="li-nav"><a class="active" href="#home">خانه</a></li>
                    <li class="li-nav"><a href="/view/catalogproducts.html">محصولات</a></li>
                    <li class="li-nav"><a href="/view/contact.html">تماس با ما</a></li>
                    <li class="li-nav"><a href="#about">درباره ما</a></li>
                  </ul>
            </nav>

        </div>

    </header>

    <main class="main">
        <article class="article">
            
            <div class="div-title-article">

                <p class="p-article">محصولات جدید :</p>

            </div>

            <div class="div-box-article">

                <div class="cart-article">

                    <div class="cart-article-hed">

                        <img src="/img/gold1.jpg" class="img-article">

                    </div>

                    <div class="cart-article-fot">

                        <p class="cart-midle-p1">دست بند</p>
                        <p class="cart-midle-p2">عالی و قیمت مناسب</p>
                        <p class="cart-midle-p3">200 هزار تومن</p>
                        <input type="button" name="" value="مشاهده" class="button-4">

                    </div>

                </div>

                    <div class="cart-article">
    
                        <div class="cart-article-hed">

                            <img src="/img/gold1.jpg" class="img-article">

                        </div>

                        <div class="cart-article-fot">

                            <p class="cart-midle-p1">دست بند</p>
                            <p class="cart-midle-p2">عالی و قیمت مناسب</p>
                            <p class="cart-midle-p3">200 هزار تومن</p>
                            <input type="button" name="" value="مشاهده" class="button-4">

                        </div>
    
                    </div>

                    <div class="cart-article">
    
                        <div class="cart-article-hed">

                            <img src="/img/gold1.jpg" class="img-article">

                        </div>

                        <div class="cart-article-fot">

                            <p class="cart-midle-p1">دست بند</p>
                            <p class="cart-midle-p2">عالی و قیمت مناسب</p>
                            <p class="cart-midle-p3">200 هزار تومن</p>
                            <input type="button" name="" value="مشاهده" class="button-4">
                            
                        </div>
    
                    </div>

        </article>

        <article class="article">
            
            <div class="div-title-article">

                <p class="p-article">محصولات پر بازدید :</p>

            </div>

            <div class="div-box-article">

                <div class="cart-article">

                    <div class="cart-article-hed">

                        <img src="/img/gold1.jpg" class="img-article">

                    </div>

                    <div class="cart-article-fot">

                        <p class="cart-midle-p1">دست بند</p>
                        <p class="cart-midle-p2">عالی و قیمت مناسب</p>
                        <p class="cart-midle-p3">200 هزار تومن</p>
                        <input type="button" name="" value="مشاهده" class="button-4">

                    </div>

                </div>

                    <div class="cart-article">
    
                        <div class="cart-article-hed">

                            <img src="/img/gold1.jpg" class="img-article">

                        </div>

                        <div class="cart-article-fot">

                            <p class="cart-midle-p1">دست بند</p>
                            <p class="cart-midle-p2">عالی و قیمت مناسب</p>
                            <p class="cart-midle-p3">200 هزار تومن</p>
                            <input type="button" name="" value="مشاهده" class="button-4">

                        </div>
    
                    </div>

                    <div class="cart-article">
    
                        <div class="cart-article-hed">

                            <img src="/img/gold1.jpg" class="img-article">

                        </div>

                        <div class="cart-article-fot">

                            <p class="cart-midle-p1">دست بند</p>
                            <p class="cart-midle-p2">عالی و قیمت مناسب</p>
                            <p class="cart-midle-p3">200 هزار تومن</p>
                            <input type="button" name="" value="مشاهده" class="button-4">
                            

                        </div>
    
                    </div>

            </div>

        </article>

        <article class="article">
            
            <div class="div-title-article">

                <p class="p-article">محصولات بروز شده :</p>

            </div>

            <div class="div-box-article">

                <div class="cart-article">

                    <div class="cart-article-hed">

                        <img src="/img/gold1.jpg" alt="" class="img-article">

                    </div>

                    <div class="cart-article-fot">

                        <p class="cart-midle-p1">دست بند</p>
                        <p class="cart-midle-p2">عالی و قیمت مناسب</p>
                        <p class="cart-midle-p3">200 هزار تومن</p>
                        <input type="button" name="" value="مشاهده" class="button-4">
                        
                    </div>

                </div>

                    <div class="cart-article">
    
                        <div class="cart-article-hed">

                            <img src="/img/gold1.jpg" class="img-article">

                        </div>

                        <div class="cart-article-fot">

                            <p class="cart-midle-p1">دست بند</p>
                            <p class="cart-midle-p2">عالی و قیمت مناسب</p>
                            <p class="cart-midle-p3">200 هزار تومن</p>
                            <input type="button" name="" value="مشاهده" class="button-4">

                        </div>
    
                    </div>

                    <div class="cart-article">
    
                        <div class="cart-article-hed">

                            <img src="/img/gold1.jpg" class="img-article">

                        </div>

                        <div class="cart-article-fot">

                            <p class="cart-midle-p1">دست بند</p>
                            <p class="cart-midle-p2">عالی و قیمت مناسب</p>
                            <p class="cart-midle-p3">200 هزار تومن</p>
                            <input type="button" name="" value="مشاهده" class="button-4">

                        </div>
    
                    </div>

            </div>

        </article>

    </main>

    <aside class="aside">

        <section class="section-1">

            <div class="pro-img">

                <img src="/img/user.png" alt="" class="img-pro1">

            </div>

            <div class="title-img">

                <p class="title-img-p">NO ID</p>

            </div>

        </section>

        <section class="section-2">
            <ul class="ul-section">
                <li class="li-section"><a href="/view/profileuser.html"> پروفایل کاربری </a></li>
                <li class="li-section"><a href="/view/register.html">ثبت نام</a></li>
                <li class="li-section"><a href="/view/login.html">ورود</a></li>
                <li class="li-section"><a href="">پنل کاربری</a></li>
                <li class="li-section"><a href="/view/ticket.html">اضافه کردن تیکت</a></li>
                <li class="li-section"><a href="/view/addProduct .html">اضافه کردن محصولات</a></li>
            </ul>
        </section>

    </aside>

    <!-- <footer class="footer">
        <input type="" name="" value="">
    </footer> -->

</body>

</html>